html {
  font-size: 16px;
}
body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

h1,
h2,
h3 {
  color: black;
  text-transform: uppercase;
  font-weight: 700;
}
h1 {
  font-size: 1.875em;
  border-bottom: 3px solid #77a466;
}
h2 {
  font-size: 1.125em;
}
h3 {
  font-size: 0.75em;
}

p {
  font-size: 0.875em;
  line-height: 21px;
  padding: 0;
}

/*The widths are in a percentage!*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  text-align: center;
}

header h1 {
  margin: 0;
  padding: 18px 0;
  border-bottom: 3px solid #77a466;
  width: 100%;
}
header h1 span {
  color: #77a466;
}

header nav {
  padding: 1em 0;
  line-height: 2em;
}
header nav ul {
  margin: 0;
  padding: 0;
}
header nav ul li {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875em;
  padding: 0 10px;
  display: inline;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul li a {
  text-decoration: none;
  color: #77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column wrap;
}

.main-image {
  height: auto;
}
.main-image img {
  width: 100%;
  border-bottom: 3px solid #77a466;
  border-top: 3px solid #77a466;
}

.main-title {
  height: auto;
}
.main-title h2 {
  text-align: left;
  padding: 5px 0;
  color: #77a466;
}
.main-title p {
  padding: 0;
  font-size: 1em;
  line-height: 25px;
}

.section-one,
.section-two,
.section-three {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  padding: 1em 0;
  border-top: 1px solid #eee;
  border-top: 1px solid #eee;
}

.section-one h3 {
  padding: 10px 0;
}

.section-two {
  margin: 0;
  padding: 0;
}

.section-two h3 {
  /**padding: 10px 30px;
   display: flex;
  justify-content: flex-start;
  align-items: center; **/
}
.section-three h3 {
  /** padding: 10px 30px;
   display: flex;
  justify-content: flex-start;
  align-items: center; **/
}

.menu {
  list-style: none;
  padding: 0;
}
.menu li {
  padding: 10px 0;
  color: #77a466;
}

.reviews {
  color: #333;
  font-size: 1em;
  line-height: 21px;
}

.address {
  font-size: 1em;
  line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer span {
  font-family: "Galada", cursive;
  text-transform: lowercase;
  color: #77a466;
  font-size: 0.875em;
}
@media all and (min-width: 768px) {
  .section-two,
  .section-one,
  .section-three {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column wrap;
    padding: 1em 0;
  }
  .bottom-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row;
  }
  .section-two {
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    padding: 1em 2em;
  }
  .section-three {
    padding: 1em 2em;
  }
}

@media all and (min-width: 1200px) {
  header {
    justify-content: space-between;
  }
  header h1 {
    width: 30%;
    border: none;
    padding: 0;
    text-align: left;
  }
  header nav {
    width: 40%;
  }
  header nav ul {
    display: flex;
    justify-content: space-between;
  }
}
